<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Phoenix CSS UI Extension</title>

    <link rel="stylesheet" type="text/css" href="https://contentful.github.io/ui-extensions-sdk/cf-extension.css">
    <!-- <link rel="stylesheet" type="text/css" href="/dist/css/main.css"> -->

    <script type="text/javascript" src="https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js"></script>
  </head>

  <body>
    <div id="css-editor">
      <textarea id="css"></textarea>
    </div>
  </body>

</html>