$element-dark: #C3CFD5;
$element-light: #E5EBED;

$line-color-node: $element-dark;
$line-color-main: $element-light;
$line-width: 3px;
$line-margin-left: 0.2em;

$base-font-size: 14px;
$base-line-height: 18px;

input[type="color"] {
  background-color: white;
}

th {
  font-weight: normal;
}

.jfe-editor-root td {
  vertical-align: baseline;
}

.jfe-button-holder {
  display: inline-block;
  button {
    // these rules are our addition.
    margin: 0.15em;
    padding: 7px 7px;
  }
}

.jfe-header {
  margin-bottom: 1.2857142857142858em;
}

.jfe-label {
  position: relative;
  margin-right: 0.6em;
}

.jfe-grid-row:last-child > .jfe-grid-column > .cf-form-field {
  margin-bottom: 0;
}

$jfe-header-label-offset: 4px;

.jfe-header-label {
  padding: $jfe-header-label-offset 0;
  z-index: 100;
  margin-left: $line-margin-left;
  background-color: white;
  border-bottom: $line-width solid $line-color-main;
}

$up: -1.1666666666666667em;

.jfe-indented-panel {
  position: relative;
  top: $up;
  margin-top: 0;
  margin-bottom: 1.1666666666666667em;
  margin-left: $line-margin-left;
  padding-top: 1.1666666666666667em;
  padding-bottom: 0.3888888888888889em;
  padding-left: 0.7777777777777778em;
  border-left: $line-width solid $line-color-main
}

.jfe-grid-column {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0.25em;
    left: -0.7777777777777778em;
    margin-left: -3px;
    height: 100%;
    width: $line-width;
    background: linear-gradient( to bottom, $line-color-node, $line-color-main);
  }

  &[data-schematype="object"]::before {
    top: 1.3em;
  }
}

$node-size: 2 * $line-width + 1px;

.jfe-form-input-label::before,
.jfe-header-label::before {
  position: absolute;
  top: 0.25em;
  left: -0.7777777777777778em;
  margin-left: -3px;
  height: $node-size;
  width: $node-size;
  border-top: 2px solid white;
  border-radius: 0 50% 50% 0;
  background-color: $line-color-node;
}

.jfe-header-label::before {
  margin-top: $jfe-header-label-offset;
}
