<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>JSON Form Editor Contentful UI Extension</title>

		<link rel="stylesheet" type="text/css" href="https://unpkg.com/contentful-ui-extensions-sdk@3/dist/cf-extension.css">
		<script src="https://unpkg.com/contentful-ui-extensions-sdk@3"></script>
	</head>

	<body>
	</body>

</html>
